<%- include('partials/header') %>
<main>    
    <h1><%= title %></h1>  
    <p>Below are the current service projects.</p>
    <% if (projects && projects.length > 0) { %>
            <ul class='projects-list'>
                <% projects.forEach(project => { %>
                <li>
                    <img src="/images/<%= project.logo_filename %>" alt="<%= project.organization_name %> logo">
                    
                    <strong>
                        <%= new Date(project.project_date).toLocaleDateString("en-US", {
                            weekday: "long",
                            year: "numeric",
                            month: "long",
                            day: "numeric"
                        }) %>
                    </strong>
                    
                    :
                    <%= project.title %>
                    <%= project.organization_name %>
                </li>
            <% }) %>
            </ul>
    <% } else { %>

        <p>No service projects found.</p>

    <% } %>
</main>
<%- include('partials/footer') %>

